version: '3.8'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SITE_URL=https://cloudbraintech.cn
    restart: unless-stopped
    container_name: cloudbraintech
